@font-face {
    font-family: "nofer";
    src: url("./asset/Digi Nofar Bold.ttf");
}

* {
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

html,body{
    padding:0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "nofer";
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: #fff;
}

body > div{
    background: transparent;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 500px;
    position: relative;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.3;
}

section{
    margin-top: 300px;
    height: 500px;
}

section h1{
    text-align: center;
    font-size: 2.5em
}

section .splide__slide{
    align-content: center;
    height: 400px;
}

section .splide__slide img{
    position: absolute;
    left: 20%;
    top: 15%;
    width: 80%;
    height: auto;
}

section button{
    font: outline;
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

img#skater{ 
    border: none;
    border-radius: 0%;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: transparent;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item-left {
    flex: 50%;
    align-self: center;
    text-align: center;
}

.flex-item-right {
    flex: 50%;
    align-self: center;
    text-align: center;
}

@media (max-width: 700px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }

    section .splide__slide {
        align-content: center;
        width: 90vw !important;
    }

    div#faraz img {
        width: 80vw !important;
    }

    div#amir img {
        width: 80vw !important;
        left: 15% !important;
        top: 10% !important;
    }

    div#faraz {
        padding-top: 100px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    div#amir {
        padding-top: 100px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

div#faraz {
    padding-left: 300px;
    padding-right: 300px;
}

div#amir {
    padding-left: 300px;
    padding-right: 300px;
}

/* Faraz */
div#faraz p{
    font-size: 3em;
    text-align: center;
    background: transparent;
}

div#faraz img {
    border: 10px solid #fff;
    border-radius: 50%;
    width: 20vw;
    height: auto;
    background: transparent;
}

/* Amir */
div#amir p{
    padding: 40px;
    font-size: 3em;
    text-align: center;
    background: transparent;
}

div#amir img {
    border: 10px solid #fff;
    border-radius: 50%;
    width: 20vw;
    height: auto;
    background: transparent;
}